<h1>
  <%= @user.username %>
</h1>

<div class="row">
<div class="col-md-6 offset-md-3">
<nav class="nav nav-pills nav-fill">
<li>
  <%= link_to "Posts", user_path(@user.username), class: "nav-link" %>
</li>
<li>
  <%= link_to "Liked Photos", liked_photos_path(@user.username), class: "nav-link" %>
</li>
<li>
  <%= link_to "Feed", feed_photos_path(@user.username), class: "nav-link" %>
</li>

<li>
  <%= link_to "Followers", followers_photos_path(@user.username), class: "nav-link" %>
</li>

<li>
  <%= link_to "Following", following_photos_path(@user.username), class: "nav-link" %>
</li>
</nav>
</div>
</div>


<% current_user.own_photos.each do |photo| %>
  <%= render "photos/photo", photo: photo %>
<% end %>
